/* Metal Art Gallery
––––––––––––––––––––––––––––––––––––––––––––––––––
Design and Developed by: Faizur Rehman
Google+ :: https://plus.google.com/+FaizurRehman8/posts
fazurrehman@gmail.com
*/


/* reset css
––––––––––––––––––––––––––––––––––––––––––––––––––*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    background: #000;
    font-family: 'Lato', Helvetica, sans-serif;
    letter-spacing: .5px;
}

p{
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
}

a{
    color: #BA7E1C;
    text-decoration: none;
}

a:hover{
    color: #BA7E1C;
}

.btn-default{
  display: inline-block;
  height: 36px;
  padding: 0 15px;
  color: #BA7E1C;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  line-height: 36px;
  border: 1px solid #BA7E1C;
}

.btn-default:hover,
.btn-default:active{
  border:none;
  border-left: 1px solid #BA7E1C;
  border-right: 1px solid #BA7E1C;
  color: #BA7E1C;
}

/* scrollbar */
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #000;
}

::-webkit-scrollbar{
  width: 8px;
  background-color: #000;
}

::-webkit-scrollbar-thumb{
  border-radius:10px;
    height: 30px;
    width: 8px;
    border: 1px solid black;
    background: #ba7e1c;
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
}



